/* Coded by Leanxp#2415*/
html{
	transform: scale(0.95);
}
*{
	overflow: hidden;
}
.pos {
	position: relative;
	bottom: 15px;
}
hr{
	border: none;
	background: white;
	box-shadow: 0px 0px 5px white;
	width: 300px;
	height: 0.5px;
}
.menu{
	margin-bottom: 10%;
	transform: perspective(4000px) rotate3d(0, 1, 0, -30deg);
	font-family: 'Poppins';
	font-weight: bold;
	min-width: 330px;
	color: #fff;
	position: absolute;
	padding: 1%;
	border-radius:1.0vh;
	/**
	background: black;
	border: 2px solid white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	box-shadow: 
	  8px 5px rgba(0, 0, 0, 0.85),
	  9px 6px rgba(255, 255, 255, 0.85),
	  12px 7px 5px rgba(255, 255, 255, 0.85); 
	  **/
}
.head{
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 10px;
	margin-right: 10px;
	background-color: pink;
}
.menu .head{

	font-family: arial;
	text-shadow: 0px 0px 5px white;
	padding-left: 25px;
	padding-top: 5px;
	text-align: center;
	height: 50px;
	color: #fcf8f8;
	font-weight: normal;
	line-height: 35px;
	font-size: 1.2rem;
	/**
	Novedad
	**/
			/**-ms-transform: skewY(0.7deg);
			transform: skewY(0.7deg); 
			**/
			background: #000000;
			border: 2px solid white;
			border-radius: 5px 16px 5px;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
			box-shadow: 
			  8px 5px rgba(0, 0, 0, 0.85),
			  9px 6px rgba(255, 255, 255, 0.85),
			  12px 7px 5px rgba(255, 255, 255, 0.85); 

	animation: shake 5.0s linear forwards;

	 			
}


#icon{
	margin-right: 4%;
}

.menu .menu-items{
	margin-top: 1.5%;
	max-height: 525px;
	overflow-y: auto;
	font-weight: 500;
	

	/**
	Novedad
	**/
			/**background: #000000;**/
			/**-ms-transform: skewY(0.5deg);
			transform: skewY(0.5deg); 			
			**/


}
.menu .menu-items .menu-item{
	display: block;
	padding: 7px;
	font-size: 14px;
	text-align: left;
	text-indent: 5px;
	
	background: black;
	color: #fdfdfd;
	border-radius: 0;
	border: 2px solid #35353500;
}
.menu .menu-items .menu-item.selected{
	background: #FFFFFF;
	/**border-left: 5px solid white;**/	
	border-radius: 0.0rem;
	color: #000000;
	
	padding-left: 15px;
	/**animation: fadeIn 0.0s;**/
	/**animation: bigSelected 1.0s;**/
	animation: wave 1s linear forwards;
}
.head > span{
	position: relative;
	display: inline-block;
}
.head > span::before, .head > span::after{
	content: "";
	position: absolute;
	top: 52%;
	width: 9999px;
	height: 0.7px;
	background: #ffffff;
}
.head > span::before{
	right: 105%;
	margin-right: 15px;
}
.head > span::after{
	left: 105%;
	margin-left: 15px;
}
.align-left,
.align-right,
.align-top-left,
.align-top-right,
.align-bottom-left,
.align-bottom,
.align-center,
.align-bottom-right{
	position: absolute;
	bottom: 5%;
	right: 0%;
}
::-webkit-scrollbar{
	width: 8px;
	border-left: 4px solid #27273300;
}
::-webkit-scrollbar-track{
	background: #27273300;
	border-left: 4px solid #27273300;
}
::-webkit-scrollbar-thumb{
	background: #1a242d00;
	border-left: 4px solid #27273300;
}
::-webkit-scrollbar-thumb:hover{
	background: #1a242d00;
	border-left: 4px solid #27273300;
}
@keyframes fadeIn{
	0%{
		transform: scale(0) translateX(-50rem);
		opacity:0;
   }
   50%{
	   opacity: 0.3;
   }
   80%{
	   opacity: 0.5;
	   transform: scale(1.03);
   }
	100%{
		opacity:1;
		transform: scale(1);
   }
}

.headtitle:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 25%;
  left: 15%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #FFA200;
  border-bottom-color: #FFFFFF;
  animation: spinner .8s ease infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

@keyframes wave {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-10px)
  }
}

.footer-items  {
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-left: 10%;
    text-align: center;    
}


button{

	color: black;
	border: 1px solid white;
	border-radius: 5px;

}



@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;        

    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;        

    }

    20%, 60% {
        filter: blur(0.03em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;        

    }

    45%, 85% {
        filter: blur(0.03em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;        

    }

    100% {
        filter: blur(0.007em);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;        

    }
}